In [36]:
import pandas as pd
test_data=pd.read_csv("/notebooks/test_prediction.csv")
test_data.columns=["id","clip_count"]
test_features=pd.read_csv("/notebooks/test_features.csv")[-5000:]
test_features.columns=["id","True count","size","grey_pixel_number","50"]
display(test_data,test_features)

         id  clip_count
0     45001   68.247750
1     45002   40.110317
2     45003   41.237000
3     45004   38.798252
4     45005   18.474697
...     ...         ...
4995  49996   35.309082
4996  49997   53.150887
4997  49998   71.147865
4998  49999   23.043373
4999  50000   35.664646

[5000 rows x 2 columns]

          id  True count     size  grey_pixel_number       50
15000  45001        68.0  61355.0            14280.0  51635.0
15001  45002        40.0  40761.0             9209.0  56548.0
15002  45003        41.0  45467.0             9829.0  55936.0
15003  45004        39.0  37876.0             8451.0  57317.0
15004  45005        19.0  18560.0             3932.0  61734.0
...      ...         ...      ...                ...      ...
19995  49996        35.0  35775.0             7886.0  57833.0
19996  49997        54.0  50962.0            11382.0  54432.0
19997  49998        72.0  63938.0            15244.0  50704.0
19998  49999        24.0  24989.0             5269.0  60416.0
19999  50000        35.0  36861.0             8409.0  57366.0

[5000 rows x 5 columns]

In [68]:
data=pd.concat([test_features.reset_index(drop=True),test_data["clip_count"].reset_index(drop=True)],axis=1)
data["Error"]=data["True count"]-data["clip_count"]
data

,id,True count,size,grey_pixel_number,50,clip_count,Error
0,45001,68.0,61355.0,14280.0,51635.0,68.247750,-0.247750
1,45002,40.0,40761.0,9209.0,56548.0,40.110317,-0.110317
2,45003,41.0,45467.0,9829.0,55936.0,41.237000,-0.237000
3,45004,39.0,37876.0,8451.0,57317.0,38.798252,0.201748
4,45005,19.0,18560.0,3932.0,61734.0,18.474697,0.525303
...,...,...,...,...,...,...,...
4995,49996,35.0,35775.0,7886.0,57833.0,35.309082,-0.309082
4996,49997,54.0,50962.0,11382.0,54432.0,53.150887,0.849113
4997,49998,72.0,63938.0,15244.0,50704.0,71.147865,0.852135
4998,49999,24.0,24989.0,5269.0,60416.0,23.043373,0.956627
4999,50000,35.0,36861.0,8409.0,57366.0,35.664646,-0.664646

In [87]:
print("Error to be corrected: " + str(data["Error"].abs().mean()))

Error to be corrected: 0.5469445792940001

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(data.iloc[:,2:-2],
                                                  data.iloc[:,-1],
                                                  test_size=0.2)

import xgboost as xgb
dtrain=xgb.DMatrix(X_train, label=y_train)
dtest=xgb.DMatrix(X_test, label=y_test)

param = {'max_depth':3, 'eta':0.3, 'silent':1, 
         'objective':'reg:squarederror','eval_metric':"mae"}
evals = [(dtest, 'eval'), (dtrain, 'train')]
bst = xgb.train(param, dtrain, num_boost_round=70, evals=evals)

[0]	eval-mae:0.61836	train-mae:0.62648
[1]	eval-mae:0.58483	train-mae:0.58986
[2]	eval-mae:0.56751	train-mae:0.56974
[3]	eval-mae:0.55862	train-mae:0.55721
[4]	eval-mae:0.55389	train-mae:0.55074
[5]	eval-mae:0.55113	train-mae:0.54509
[6]	eval-mae:0.54955	train-mae:0.54274
[7]	eval-mae:0.54765	train-mae:0.54028
[8]	eval-mae:0.54783	train-mae:0.53783
[9]	eval-mae:0.54719	train-mae:0.53608
[10]	eval-mae:0.54763	train-mae:0.53438
[11]	eval-mae:0.54734	train-mae:0.53373
[12]	eval-mae:0.54744	train-mae:0.53258
[13]	eval-mae:0.54800	train-mae:0.53154
[14]	eval-mae:0.54786	train-mae:0.53130
[15]	eval-mae:0.54777	train-mae:0.53052
[16]	eval-mae:0.54857	train-mae:0.52950
[17]	eval-mae:0.54885	train-mae:0.52852
[18]	eval-mae:0.54898	train-mae:0.52761
[19]	eval-mae:0.54928	train-mae:0.52637
[20]	eval-mae:0.55050	train-mae:0.52424
[21]	eval-mae:0.55050	train-mae:0.52394
[22]	eval-mae:0.55079	train-mae:0.52253
[23]	eval-mae:0.55107	train-mae:0.52167
[24]	eval-mae:0.55108	train-mae:0.52118
[25]	eval-mae:0.55109	train-mae:0.52092
[26]	eval-mae:0.55151	train-mae:0.51989
[27]	eval-mae:0.55180	train-mae:0.51928
[28]	eval-mae:0.55271	train-mae:0.51823
[29]	eval-mae:0.55256	train-mae:0.51772
[30]	eval-mae:0.55283	train-mae:0.51651
[31]	eval-mae:0.55277	train-mae:0.51590
[32]	eval-mae:0.55237	train-mae:0.51428
[33]	eval-mae:0.55243	train-mae:0.51306
[34]	eval-mae:0.55325	train-mae:0.51236
[35]	eval-mae:0.55323	train-mae:0.51163
[36]	eval-mae:0.55319	train-mae:0.51031
[37]	eval-mae:0.55341	train-mae:0.50970
[38]	eval-mae:0.55348	train-mae:0.50918
[39]	eval-mae:0.55341	train-mae:0.50894
[40]	eval-mae:0.55288	train-mae:0.50845
[41]	eval-mae:0.55275	train-mae:0.50814
[42]	eval-mae:0.55219	train-mae:0.50706
[43]	eval-mae:0.55264	train-mae:0.50627
[44]	eval-mae:0.55379	train-mae:0.50535
[45]	eval-mae:0.55410	train-mae:0.50447
[46]	eval-mae:0.55395	train-mae:0.50407
[47]	eval-mae:0.55431	train-mae:0.50334
[48]	eval-mae:0.55459	train-mae:0.50288
[49]	eval-mae:0.55441	train-mae:0.50271
[50]	eval-mae:0.55512	train-mae:0.50201
[51]	eval-mae:0.55521	train-mae:0.50128
[52]	eval-mae:0.55546	train-mae:0.50048
[53]	eval-mae:0.55553	train-mae:0.49933
[54]	eval-mae:0.55586	train-mae:0.49863
[55]	eval-mae:0.55580	train-mae:0.49787
[56]	eval-mae:0.55580	train-mae:0.49658
[57]	eval-mae:0.55683	train-mae:0.49535
[58]	eval-mae:0.55711	train-mae:0.49466
[59]	eval-mae:0.55722	train-mae:0.49388
[60]	eval-mae:0.55718	train-mae:0.49375
[61]	eval-mae:0.55708	train-mae:0.49341
[62]	eval-mae:0.55783	train-mae:0.49261
[63]	eval-mae:0.55861	train-mae:0.49199
[64]	eval-mae:0.55840	train-mae:0.49150
[65]	eval-mae:0.55880	train-mae:0.49031
[66]	eval-mae:0.55911	train-mae:0.48901
[67]	eval-mae:0.55882	train-mae:0.48825
[68]	eval-mae:0.55861	train-mae:0.48747
[69]	eval-mae:0.55913	train-mae:0.48676